<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jovian Careers</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Jovian Careers</h1>
    <img
      src="{{ url_for('static', filename='images/banner1.jpg') }}"
      alt="banner"
      class="banner"
    />
    <hr />
    <div class="openings">
      <h2>Open Position</h2>
      <p>ToDo- Show the jobs</p>
      <div class="button-container">
        <button>Contact Us</button>
      </div>
    </div>
    <br>
    <div class="container">
      <h2>About Jovian</h2>
      <p>
        Jovian is a platform for finding and applying to jobs in the field of
        data science. We help Engineers find their dream jobs, and help
        companies find the best talent. Our platform connects job seekers with
        top employers in the industry, providing a seamless and efficient job
        search experience. Join Jovian today and take the next step in your
        career!
      </p>
    </div>
  </body>
</html>
